* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #150000;
  width: 100%;
  height: 100%;
  color: beige;
}

#root {
  width: 100%;
  height: 100%;
}

html,
body,
#potato,
#contents,
#tick,
#landing,
#notfound,
#post {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #513d3c;
  color: #241514;
}

#header h1 {
  margin: 1.3rem;
  font-size: 3.5rem;
  text-shadow: -1px 0 blanchedalmond, 0 1px blanchedalmond, 2px 0 blanchedalmond,
    0 -1px blanchedalmond;
}

.nav {
  list-style-type: none;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  text-shadow: -0.7px 0 blanchedalmond, 0 0.7px blanchedalmond,
    0.7px 0 blanchedalmond, 0 -0.7px blanchedalmond;
}

.nav a {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  font-weight: bold;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 70px;
  width: 80%;
}

.movies .movie {
  height: 400px;
  width: 45%;
  background-color: #352420;
  margin-bottom: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: rgb(233, 233, 224);
  box-shadow: 13px 10px 0px 1px rgb(175 175 189 / 30%);
}

.movie img {
  position: relative;
  top: -50px;
  max-width: 120px;

  box-shadow: 0 30px 60px -12px rgb(175 175 189 / 25%),
    0 18px 36px -18px rgb(175 175 189 / 30%),
    0 -12px 36px -8px rgb(175 175 189 / 2.5%);
}

.movie .movie__data {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.movie .movie__title,
.movie .movie__year {
  margin: 0;
  font-weight: 300;
}

.movie .movie__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: rgb(250, 250, 231);
}

.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 5px 0px;
}

.movie__genres li,
.movie .movie__year {
  margin-right: 10px;
  font-size: 14px;
}

.movie button {
  border: none;
  background: none;
  width: auto;
  padding: 0;
  float: left;
  position: relative;
  top: 320px;
  left: -112px;
  cursor: pointer;
}

.movie svg {
  width: 2rem;
  height: 2rem;
}

#landing {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#landing img {
  width: 50%;
  height: auto;
}
